{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-content">
        <div class="page-header">
            <h1>
                Aplinkos
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Static &amp; Dynamic Tables
                </small>
            </h1>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-horizontal" role="form" method="post">
                            {{ form_widget(form._token) }}
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> Pavadinimas </label>
                                <div class="col-sm-9">
                                    {{ form_widget(form.name, {attr: {class:"form-control"} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> Privatumas </label>
                                <div class="col-sm-9">
                                    {{ form_widget(form.privacy, {attr: {class:"form-control"} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> Žuvis </label>
                                <div class="col-sm-9">
                                    {{ form_widget(form.fish, {attr: {class:"form-control"} }) }}
                                </div>
                            </div>
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Sukurti
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.span -->
                </div><!-- /.row -->
            </div><!-- /.col -->
        </div>
    </div>


{% endblock %}