{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-content">
        <div class="page-header">
            <h1>
                Aplinkos
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Static &amp; Dynamic Tables
                </small>
            </h1>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <table id="simple-table" class="table  table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="detail-col">Pavadinimas</th>
                                <th class="detail-col">Žuvis</th>
                                <th class="detail-col">Savininkas</th>
                                <th class="detail-col">Privatumas</th>
                                <th class="detail-col">Veiksmai</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for data in environments %}
                                <tr>
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.fish }}</td>
                                    <td>{{ data.owner.name }} {{ data.owner.surname }}</td>
                                    <td>{{ data.privacy }}</td>
                                    <td><a href="{{ path('select_workspace', { environmentId:data.id}) }}"><button class="btn btn-minier btn-success" type="button">Pasirinkti</button></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-9 col-md-3">
                                <a href="{{ path("create-environment") }}">
                                    <button class="btn btn-info" type="button">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Sukurti aplinką
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div><!-- /.span -->
                </div><!-- /.row -->
            </div><!-- /.col -->
        </div>
    </div>


{% endblock %}