{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-content">
        <div class="page-header">
            <h1>
                Projektai
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Static &amp; Dynamic Tables
                </small>
            </h1>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <table id="simple-table" class="table  table-bordered table-hover">
                            <thead>
                            <tr>
                                <th colspan="8" class="detail-col">Vardas</th>
                                <th class="detail-col">Vartotojų skaičius</th>
                                <th class="detail-col">Pridėti žmogų</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for data in projects %}
                                <tr>
                                    <td colspan="8">{{ data.name }}</td>
                                    <td>{{ data.users|length }}</td>
                                    <td><a href="{{ path('add-user', { projectId:data.id}) }}" <button class="btn btn-minier btn-success" type="button">Pridėti</button></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-9 col-md-3">
                                <a href="{{ path("create-project") }}">
                                    <button class="btn btn-info" type="button">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Sukurti projektą
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div><!-- /.span -->
                </div><!-- /.row -->
            </div><!-- /.col -->
        </div>
    </div>


{% endblock %}