{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-content">
        <div class="page-header">
            <h1>
                Vartotojai
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Static &amp; Dynamic Tables
                </small>
            </h1>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <table id="simple-table" class="table  table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="detail-col">Vardas</th>
                                <th class="detail-col">Pavardė</th>
                                <th class="detail-col">El. paštas</th>
                                <th class="detail-col">Rolė</th>
                                <th class="detail-col">Hash</th>
                                <th colspan="1" class="detail-col">Statusas</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% if user is defined %}
                                {% set users = user.project.users %}
                            {% endif %}

                            {% for data in users %}
                                <tr>
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.surname }}</td>
                                    <td>{{ data.email }}</td>
                                    <td>
                                        {% if data.role == 'ROLE_MASTER' %}
                                            Administratorius
                                        {% else %}
                                            Vartotojas
                                        {% endif %}
                                    </td>
                                    <td>{{ data.hash }}</td>
                                    <td>{% if data.isActive %}
                                            <span class="label label-sm label-success">Aktyvuotas</span>
                                        {% else %}
                                            <span class="label label-sm label-danger">Neaktyvuotas</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="clearfix form-actions">
                            <div class="col-md-9">
                                {% if verification %}
                                Sukūrto vartotojo patvirtinimo nuoroda: <b>{{ verification }}</b>
                                    {% endif %}
                            </div>
                            <div class="col-md-3">
                                <a href="{{ path("create-user") }}">
                                    <button class="btn btn-info" type="button">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Sukurti vartotoją
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div><!-- /.span -->
                </div><!-- /.row -->
            </div><!-- /.col -->
        </div>
    </div>


{% endblock %}