<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/fonts.googleapis.com.css') }}" />
        <link rel="stylesheet" class="ace-main-stylesheet" id="main-ace-style" href="{{ asset('css/ace.min.css') }}" />
        <link rel="stylesheet" class="ace-main-stylesheet" href="{{ asset('css/ace-part2.min.css' ) }}" />
        <link rel="stylesheet" href="{{ asset('css/ace-skins.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/ace-rtl.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/ace-ie.min.css') }}" />

        <script src="{{ asset('js/ace-extra.min.js') }}"></script>
        <script src="{{ asset('js/html5shiv.min.js') }}"></script>
        <script src="{{ asset('js/respond.min.js') }}"></script>
    </head>
    {% block main_body %}
    <body class="no-skin">
        <div id="navbar" class="navbar navbar-default          ace-save-state">
            <div class="navbar-container ace-save-state" id="navbar-container">
                <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                    <span class="sr-only">Toggle sidebar</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>
                </button>

                <div class="navbar-header pull-left">
                    <a href="index.html" class="navbar-brand">
                        <small>
                            Drebulė
                        </small>
                    </a>
                </div>

                <div class="navbar-buttons navbar-header pull-right" role="navigation">
                    <ul class="nav ace-nav">
                        <li class="light-blue dropdown-modal">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                <img class="nav-user-photo" src="{{ asset('images/user.png') }}" alt="Jason's Photo" />
                                    <span class="user-info">
                                        <small>Sveiki,</small>
                                        {{ app.user.name }}
                                    </span>

                                <i class="ace-icon fa fa-caret-down"></i>
                            </a>

                            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                <li>
                                    <a href="#">
                                        <i class="ace-icon fa fa-cog"></i>
                                        Settings
                                    </a>
                                </li>

                                <li>
                                    <a href="profile.html">
                                        <i class="ace-icon fa fa-user"></i>
                                        Profile
                                    </a>
                                </li>

                                <li class="divider"></li>

                                <li>
                                    <a href="{{ path("logout") }}">
                                        <i class="ace-icon fa fa-power-off"></i>
                                        Atsijungti
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main-container ace-save-state" id="main-container">
            <div id="sidebar" class="sidebar responsive ace-save-state" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
                {{ knp_menu_render('AppBundle:Builder:mainMenu', {'currentClass': 'active'}) }}
            </div>

            <div class="main-content">
                <div class="main-content-inner">
                    {#<div class="breadcrumbs ace-save-state" id="breadcrumbs">
                        <ul class="breadcrumb">
                            <li>
                                <i class="ace-icon fa fa-home home-icon"></i>
                                <a href="#">Home</a>
                            </li>
                            <li class="active">Dashboard</li>
                        </ul>
                    </div>#}
                    {% block body %}{% endblock %}
                </div>
            </div>

        </div>

        <script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>

        <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        <script src="{{ asset('js/jquery-ui.custom.min.js') }}"></script>
        <script src="{{ asset('js/jquery.ui.touch-punch.min.js') }}"></script>
        <script src="{{ asset('js/jquery.easypiechart.min.js') }}"></script>
        <script src="{{ asset('js/jquery.sparkline.index.min.js') }}"></script>
        <script src="{{ asset('js/jquery.flot.min.js') }}"></script>
        <script src="{{ asset('js/jquery.flot.pie.min.js') }}"></script>
        <script src="{{ asset('js/jquery.flot.resize.min.js') }}"></script>

        <script src="{{ asset('js/jquery.inputlimiter.min.js') }}"></script>
        <script src="{{ asset('js/jquery.maskedinput.min.js') }}"></script>

        <script src="{{ asset('js/ace-elements.min.js') }}"></script>
        <script src="{{ asset('js/ace.min.js') }}"></script>
        <script type="text/javascript">
            jQuery(function($) {
                //show the dropdowns on top or bottom depending on window height and menu position
                $('#task-tab .dropdown-hover').on('mouseenter', function(e) {
                    var offset = $(this).offset();

                    var $w = $(window)
                    if (offset.top > $w.scrollTop() + $w.innerHeight() - 100)
                        $(this).addClass('dropup');
                    else $(this).removeClass('dropup');
                });

            })
        </script>
        {% block javascripts %}{% endblock %}
    </body>
    {% endblock %}
</html>
