{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-content">
        <div class="page-header">
            <h1>
                Aplinka
            </h1>
        </div>
        <div class="col-sm-12 widget-container-col ui-sortable" id="widget-container-col-10">
            <div class="widget-box ui-sortable-handle" id="widget-box-10">
                <div class="widget-header widget-header-small">
                    <h5 class="widget-title smaller">Aplinka</h5>

                    <div class="widget-toolbar no-border">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active">
                                <a data-toggle="tab" href="#home" aria-expanded="true">Pagrindinis</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#parameters" aria-expanded="true">Parametrai</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#matlab" class="matlab-press" aria-expanded="true">Matlab</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main padding-6">
                        <div class="tab-content">
                            <div id="home" class="tab-pane active">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <!-- PAGE CONTENT BEGINS -->
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div id="sales-charts"></div>
                                                <table id="simple-table" class="table  table-bordered table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th class="detail-col">Metai</th>
                                                        {% for groups in environment.options.groups %}
                                                            <th class="detail-col">{{ groups.year }}</th>
                                                        {% endfor %}
                                                    </tr>
                                                    </thead>

                                                    <tbody>
                                                    {% for result in environment.results %}
                                                        <tr>
                                                            <td>{{ result.year }}</td>
                                                            {% set data = result.result|json_decode %}
                                                            {% for year in data %}
                                                                <td>{{ year|length > 8 ? year|slice(0, 8) ~ '...' : year }}</td>
                                                            {% endfor %}
                                                        </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <form method="POST" action="{{ path('create_result') }}">
                                                            <td class="turn-to-input"><div class="form-group form-to-input" style="display: none;" >
                                                                    <div>
                                                                        <input class="col-xs-8" name="year" type="text" value="2017"/>
                                                                    </div>
                                                                </div></td>
                                                            {% for group in environment.options.groups %}
                                                                <td class="turn-to-input">
                                                                    <div class="form-group form-to-input" style="display: none;" >
                                                                        <div>
                                                                            <input class="col-xs-6" name="groups[{{ group.year }}]" type="text" value="0"/>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            {% endfor %}
                                                            <div class="row" style="padding: 10px">
                                                                <span style="padding: 10px;margin: 10px"><button type="button" class="btn btn-success turn-to-input-button">Pridėti</button></span>
                                                                <a style="padding: 10px;margin: 10px" href="{{ path('predict_result') }}"><button type="button" class="btn btn-success">Pranašauti</button></a>
                                                            </div>
                                                        </form>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div><!-- /.span -->
                                        </div><!-- /.row -->
                                    </div><!-- /.col -->
                                </div>
                            </div>
                            <div id="parameters" class="tab-pane">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <form method="POST" action="{{ path('edit_parameters') }}">
                                                <input type="hidden" name="environment" value="{{ environment.id }}"/>
                                            <div class="col-xs-12">
                                                <span style="padding: 10px;margin: 10px"><button type="submit" class="btn btn-success">Pakeisti parametrus</button></span>
                                                <a style="padding: 10px;margin: 10px" href="{{ path('predict_parameters') }}"><button type="button" class="btn btn-success">Užpildyti parametrus pagal duomenis</button></a>
                                            </div>
                                            {% for key, group in environment.options.groups %}
                                                <div class="col-xs-12">
                                                    <h3 class="header smaller lighter blue">
                                                        {{ key }} metų grupės duomenys
                                                        <small>Mirtingumas, rekrutacija, svoris ir branda</small>
                                                    </h3>
                                                    <input type="hidden" name="groups[{{ key }}][year]" max="100" min="0" value="{{ group.year }}" class="form-control">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label no-padding-right"> Mirtingumas procentais/paklaida </label>
                                                        <div class="col-sm-6">
                                                            <input type="number" name="groups[{{ key }}][deathRate][percent]" max="100" min="0" value="{{ group.deathRate.percent }}" class="form-control">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <input type="number" name="groups[{{ key }}][deathRate][error]" max="100" min="0" value="{{ group.deathRate.error }}" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label no-padding-right"> Rekrutacija </label>
                                                        <div class="col-sm-9">
                                                            <input type="text" name="groups[{{ key }}][reproductiveness][amount]" value="{{ group.reproductiveness.amount }}" maxlength="100" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label no-padding-right"> Svoris </label>
                                                        <div class="col-sm-9">
                                                            <input type="text" name="groups[{{ key }}][weight][amount]" maxlength="100" class="form-control" value="{{ group.weight.amount }}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label no-padding-right"> Branda procentais </label>
                                                        <div class="col-sm-9">
                                                            <input type="number" name="groups[{{ key }}][maturity][percent]" maxlength="100" class="form-control" value="{{ group.maturity.percent }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="matlab" class="tab-pane">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <!-- PAGE CONTENT BEGINS -->
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div id="sales-charts-matlab"></div>
                                                <table id="simple-table" class="table  table-bordered table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th class="detail-col">Metai</th>
                                                        <th class="detail-col">Reikšmė</th>
                                                    </tr>
                                                    </thead>

                                                    <tbody>
                                                    {% for result in environment.matlabResults %}
                                                        <tr>
                                                            <td>{{ result.year }}</td>
                                                            <td>{{ result.result }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <form method="POST" action="{{ path('create_matlab_result') }}">
                                                            <td class="turn-to-input-matlab"><div class="form-group form-to-input-matlab" style="display: none;" >
                                                                    <div>
                                                                        <input class="col-xs-8" name="year" type="text" value="2017"/>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                                <td class="turn-to-input-matlab">
                                                                    <div class="form-group form-to-input-matlab" style="display: none;" >
                                                                        <div>
                                                                            <input class="col-xs-6" name="result" type="text" value="0"/>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            <div class="row" style="padding: 10px">
                                                                <span style="padding: 10px;margin: 10px"><button type="button" class="btn btn-success turn-to-input-button-matlab">Pridėti</button></span>
                                                                <a style="padding: 10px;margin: 10px" href="{{ path('predict_result_matlab') }}"><button type="button" class="btn btn-success">Pranašauti</button></a>
                                                                </div>
                                                        </form>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div><!-- /.span -->
                                        </div><!-- /.row -->
                                    </div><!-- /.col -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        jQuery(function($) {
            $('.turn-to-input-button').click(function(e){
                if ($(this).attr('type') === 'button') {
                    e.preventDefault();
                }
                $('.form-to-input').show();
                $('.turn-to-input-button').attr('type','submit');
            });

            $('.turn-to-input-button-matlab').click(function(e){
                if ($(this).attr('type') === 'button') {
                    e.preventDefault();
                }
                $('.form-to-input-matlab').show();
                $('.turn-to-input-button-matlab').attr('type','submit');
            });

            var groups = {{ environment.options.groups|length }};
            var results = {
            {% for result in environment.results %}
            {% if loop.index != 1%},{% endif %}'{{ result.year }}' : {{ result.result|raw }}
            {% endfor %}
            };

            var resultsMatlab = {
            {% for result in environment.matlabResults %}
            {% if loop.index != 1%},{% endif %}'{{ result.year }}' : {{ result.result }}
            {% endfor %}
            };

            var years = [{% for result in environment.results %}{% if loop.index != 1%},{% endif %}'{{ result.year }}'{% endfor %}];

            var ret = [];
            for (var i = 0; i < groups; i++) {
                var array = [];
                for (var y = 0; y < years.length; y++) {
                    var year = years[y];
                    array.push([parseFloat(year),parseFloat(results[year][i])]);
                }
                ret.push({label:i +' metų', data:array});
            }

            console.log(ret);
            var d3 = [];
            for (var i = 0; i < Math.PI * 2; i += 0.2) {
                d3.push([i, Math.tan(i)]);
            }

            var plotArray = [];

            for (i = 0; i < groups;i++) {
                plotArray.push({label: i, data: [array[i]]});
            }


            matlabArray = [];
            tempArray = [];
            for (var key in resultsMatlab) {
                tempArray.push([parseInt(key), resultsMatlab[key]]);
            }
        matlabArray.push({label: key, data: tempArray});
            var matlab_charts = $('#sales-charts-matlab').css({'width':'100%' , 'height':'320px'});
            console.log(resultsMatlab);
console.log(matlabArray);
            var m = $.plot("#sales-charts-matlab", matlabArray , {
                hoverable: true,
                shadowSize: 0,
                series: {
                    lines: { show: true },
                    points: { show: true }
                },
                xaxis: {
                    min:{{ measures.mminX }},
                    max:{{ measures.mmaxX }}
                },
                yaxis: {
                    ticks: 10,
                    min:{{ (measures.mminY-measures.mminY*0.1)|round }},
                    max:{{ (measures.mmaxY+measures.mmaxY*0.1)|round }},
                    tickDecimals: 3
                },
                grid: {
                    backgroundColor: { colors: [ "#fff", "#fff" ] },
                    borderWidth: 1,
                    borderColor:'#555'
                }
            });

            var sales_charts = $('#sales-charts').css({'width':'100%' , 'height':'320px'});
            var p = $.plot("#sales-charts", ret , {
                hoverable: true,
                shadowSize: 0,
                series: {
                    lines: { show: true },
                    points: { show: true }
                },
                xaxis: {
                    min:{{ measures.minX }},
                    max:{{ measures.maxX }}
                },
                yaxis: {
                    ticks: 10,
                    min:{{ measures.minY }},
                    max:{{ (measures.maxY+measures.maxY*0.1)|round }},
                    tickDecimals: 3
                },
                grid: {
                    backgroundColor: { colors: [ "#fff", "#fff" ] },
                    borderWidth: 1,
                    borderColor:'#555'
                }
            });

            $.each(p.getData()[0].data, function(i, el){
                var o = p.pointOffset({x: el[0], y: el[1]});
                $('<div class="data-point-label">' + el[1] + '</div>').css( {
                    position: 'absolute',
                    left: o.left + 4,
                    top: o.top - 43,
                    display: 'none'
                }).appendTo(p.getPlaceholder()).fadeIn('slow');
            });
        });
    </script>

{% endblock %}