{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-content">
        <div class="page-header">
            <h1>
                Redagoti žuvies įrašą
            </h1>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
                            {{ form_widget(form._token) }}
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> Pavadinimas </label>
                                <div class="col-sm-9">
                                    {{ form_widget(form.name, {attr: {class:"form-control"} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> Lotyniškas pavadinimas </label>
                                <div class="col-sm-9">
                                    {{ form_widget(form.latinName, {attr: {class:"form-control"}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> Aprašymas </label>
                                <div class="col-sm-9">
                                    {{ form_widget(form.description, {attr: {class:"form-control"}}) }}
                                </div>
                            </div>
                            <hr>
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Redaguoti
                                    </button>
                                </div>
                            </div>
                        </form>
                        <span id="group_prototype" style="display: none;">
                                <h3 class="header smaller lighter blue">
										the_number_to_change metų grupės duomenys
										<small>Mirtingumas, rekrutacija, svoris ir branda</small>
									</h3>
                                <input type="hidden" name="groups[the_number_to_change][year]" max="100" min="0" value="the_number_to_change" class="form-control">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Mirtingumas procentais/paklaida </label>
                                    <div class="col-sm-6">
                                        <input type="number" name="groups[the_number_to_change][deathRate][percent]" max="100" min="0" class="form-control">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="number" name="groups[the_number_to_change][deathRate][error]" max="100" min="0" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Rekrutacija </label>
                                    <div class="col-sm-9">
                                        <input type="text" name="groups[the_number_to_change][reproductiveness][amount]" maxlength="100" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Svoris </label>
                                    <div class="col-sm-9">
                                        <input type="text" name="groups[the_number_to_change][weight][amount]" maxlength="100" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right"> Branda procentais </label>
                                    <div class="col-sm-9">
                                        <input type="number" name="groups[the_number_to_change][maturity][percent]" maxlength="100" class="form-control">
                                    </div>
                                </div>
                            </span>
                    </div><!-- /.span -->
                </div><!-- /.row -->
            </div><!-- /.col -->
        </div>
    </div>

{% endblock %}
{% block javascripts %}
{% endblock %}