{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-content">
        <div class="page-header">
            <h1>
                Projektai
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Static &amp; Dynamic Tables
                </small>
            </h1>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <table id="simple-table" class="table  table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="detail-col"></th>
                                <th class="detail-col">Pavadinimas</th>
                                <th class="detail-col">Lotyniškas pavadinimas</th>
                                <th colspan="4" class="detail-col">Aprašymas</th>
                                <th class="detail-col">Veiksmai</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for data in fish %}
                                <tr>
                                    <td ><img style="width:250px;" src="/uploads/fish/{{ data.image }}"/></td>
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.latinName }}</td>
                                    <td colspan="4">{{ data.description }}</td>
                                    <td>
                                        <a href="{{ path('edit-fish', {id: data.id}) }}">
                                            <button class="btn btn-info" type="button">Redaguoti</button
                                        </a> <br/><br/>
                                        <a href="{{ path('delete-fish', {id: data.id}) }}">
                                        <button class="btn btn-danger" type="button">Trinti</button>
                                            </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-9 col-md-3">
                                <a href="{{ path("create-fish") }}">
                                    <button class="btn btn-info" type="button">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Sukurti žuvies įrašą
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div><!-- /.span -->
                </div><!-- /.row -->
            </div><!-- /.col -->
        </div>
    </div>


{% endblock %}